<div *ngFor="let num of childNumbers">
  <p *ngIf="childNumbers.indexOf(num) % 2 !== 0"> {{ num }} </p>
</div>
<app-padre (sendArray)="receiveNumbers($event)"></app-padre>
<ng-container>
  <div *ngFor="let num of receivedNumbers">
    <p *ngIf="childNumbers.indexOf(num) % 2 === 0"> {{ num }} </p>
  </div>
</ng-container>

